
Git ignore
#directories
venv/
data/
bin/
lib/
.idea/
*.iml
/share/
/etc/
/include/

#specific files
pyvenv.cfg
/GamrinDetails.txt
/viz
/Data dict v 1.0.xlsx
/~$Data dict v 1.0.xlsx
/Data dict v 1.0.csv
/Data dict v 1.0.xlsx
